@*
     Ayden Hofts
    02/5/2024
    This is the view for the about page on the website
*@

@{
    ViewData["Title"] = "About";
}

<style>
    .jumbotron {
        background-color: #6c757d; /* Grey background */
        color: white; /* White text */
        padding: 20px; /* Adding padding around the text */
        margin-top: 20px; /* Adjusting margin for spacing */
    }
</style>

<div class="jumbotron bg-secondary mt-4">
    <h1>@ViewData["Title"]</h1>
    <p class="text-light">
        SportsPro Technical Support constantly strives to provide the highest level of technical <br/>
        support for all products in the SportsPro family.
    </p>
    
</div>
